<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
</head>
<body>

<style>
    /* class-select-type */
    .class-select-type {
        text-align: center;
    }

    /* img */
    .class-select-type img {
        height: 130px;
        margin: 20px 20px 5px 20px;
    }

    /* a */
    .class-select-type a {
        display: inline-block;
        text-align: center;
        opacity: 50%;
        text-decoration: none;
        color: black;
    }

    /* text */
    .class-select-type p {
        margin: 0 0 20px 0;
        padding: 0;
    }

    /* hover type img */
    .class-select-type a:hover {
        opacity: 90%;
    }

    /* active type img */
    .class-select-type .class_active {
        opacity: 100%;
    }


    /* inputs */
    .my-input {
        width: 100%;
        height: 32px;
    }

    /* labels */
    .my-label {
        margin-top: 10px;
    }


    /* all */
    .all {
        display: inline-block;
        margin-top: 20px;
        /*border: cadetblue 1px solid;*/
    }


    /* buttons */
    .my-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    .button-block {
        position: relative;
    }
</style>

<div id="app">

    <!--  Крепление  -->
    <div class="container class-select-type">
        <div class="row">
            <div class="col-sm">
                <a v-on:click="select_type='Скоба'" v-bind:class="{ class_active: isBracket }">
                    <img src="img/rect1.png" alt="Скоба">
                    <p>Скоба</p>
                </a>
                <a v-on:click="select_type='Пружина'" v-bind:class="{ class_active: isSpring }">
                    <img src="img/rect2.png" alt="Пружина">
                    <p>Пружина</p>
                </a>
                <a v-on:click="select_type='Клей'" v-bind:class="{ class_active: isGlue }">
                    <img src="img/rect3.png" alt="Клей">
                    <p>Клей</p>
                </a>
            </div>
        </div>
    </div>


    <!--  Форма  -->
    <div class="container">
        <div class="row">

            <!--  Общие  -->
            <div class="col-sm-6 col-md-4 col-lg-3 all">
                <h2>Общие</h2>

                <!--  Цвет пружины  -->
                <div v-show="isSpring">
                    <div><label class="my-label" for="color-id">Цвет пружины</label></div>
                    <select id="color-id" class="my-input" v-model="select_color">
                        <option v-for="color in colors" v-model="select_color">
                            {{ color }}
                        </option>
                    </select>
                </div>

                <!--  тираж  -->
                <div>
                    <div><label class="my-label" for="number-id">Тираж</label></div>
                    <input id="number-id" class="my-input" type="number" v-model="select_printing"> шт
                </div>

                <!--  Ширина  -->
                <div>
                    <div><label class="my-label" for="width-id">Ширина</label></div>
                    <input id="width-id" class="my-input" type="number" v-model="select_format.width"
                           :disabled="!isCustomSize"> мм
                </div>

                <!--  Высота  -->
                <div>
                    <div><label class="my-label" for="height-id">Высота</label></div>
                    <input id="height-id" class="my-input" type="number" v-model="select_format.height"
                           :disabled="!isCustomSize"> мм
                </div>

                <!--  Формата и ориентации  -->
                <div>
                    <div><label class="my-label" for="format-id">Формат и ориентация</label></div>
                    <select id="format-id" class="my-input" v-model="select_format">
                        <option v-for="format_orientation in format_orientations"
                                v-bind:value="format_orientation">
                            {{ format_orientation.name }}
                        </option>
                    </select>
                </div>
            </div>


            <!--  Блок  -->
            <div class="col-sm-6 col-md-4 col-lg-3 all">
                <h2>Блок</h2>

                <!--  ввод количества страниц  -->
                <div>
                    <div><label class="my-label" for="count-id">Количество страниц</label></div>
                    <input id="count-id" class="my-input" type="number" v-model="page_count"> шт
                </div>

                <!--  Цветность  -->
                <div>
                    <div><label class="my-label" for="page_color-id">Цветность</label></div>
                    <select id="page_color-id" class="my-input" v-model="select_page_color">
                        <option v-for="page_color in page_colors">{{ page_color }}</option>
                    </select>
                </div>

                <!--  Материал  -->
                <div>
                    <div><label class="my-label" for="page_type-id">Материал</label></div>
                    <select id="page_type-id" class="my-input" v-model="select_page_type">
                        <option v-for="page_type in page_types">{{ page_type }}</option>
                    </select>
                </div>

                <!--  Ламинация  -->
                <div>
                    <div><label class="my-label" for="page_lamination-id">Ламинация</label></div>
                    <select id="page_lamination-id" class="my-input" v-model="select_page_lamination">
                        <option v-for="lamination in laminations">{{ lamination }}</option>
                    </select>
                </div>
            </div>


            <!--  Обложка  -->
            <div class="col-sm-6 col-md-4 col-lg-3 all">
                <div class="button-block">
                    <button class="my-button btn btn-outline-secondary" v-if="has_cover" v-on:click="has_cover = false">x</button>
                    <button class="my-button btn btn-outline-secondary" v-else v-on:click="has_cover = true">+</button>
                </div>
                <h2>Обложка</h2>


                <!--  Обложка  -->
                <div v-show="has_cover">
                    <!--  Цветность обложки  -->
                    <div>
                        <div><label class="my-label" for="cover_color-id">Цветность</label></div>
                        <select id="cover_color-id" class="my-input" v-model="select_cover_color">
                            <option v-for="cover_color in cover_colors">{{ cover_color }}</option>
                        </select>
                    </div>

                    <!--  Материал  -->
                    <div>
                        <div><label class="my-label" for="cover_type-id">Материал</label></div>
                        <select id="cover_type-id" class="my-input" v-model="select_cover_type">
                            <option v-for="cover_type in cover_types">{{ cover_type }}</option>
                        </select>
                    </div>

                    <!--  Ламинация  -->
                    <div>
                        <div><label class="my-label" for="cover_lamination-id">Ламинация</label></div>
                        <select id="cover_lamination-id" class="my-input" v-model="select_cover_lamination">
                            <option v-for="lamination in laminations">{{ lamination }}</option>
                        </select>
                    </div>
                </div>
            </div>


            <!--  Стоимость  -->
            <div class="col-sm-6 col-lg-3 all">
                <h2>Стоимость</h2>
                {{ coins }} руб
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            coins: 0,
            select_type: 'Скоба',
            select_color: 'Белая',
            colors: [
                'Белая',
                'Черная',
                'Серебро'
            ],
            select_format: {name: 'Книга, A6 (105 × 148 мм)', width: 105, height: 148},
            format_orientations: [
                {name: 'Книга, A6 (105 × 148 мм)', width: 105, height: 148},
                {name: 'Книга, A5 (105 × 148 мм)', width: 148, height: 210},
                {name: 'Книга, A4 (105 × 148 мм)', width: 210, height: 297},
                {name: 'Книга, A3 (105 × 148 мм)', width: 297, height: 420},
                {name: 'Альбом, A6 (148 × 105 мм)', width: 148, height: 105},
                {name: 'Альбом, A5 (148 × 105 мм)', width: 210, height: 148},
                {name: 'Альбом, A4 (148 × 105 мм)', width: 297, height: 210},
                {name: 'Альбом, A3 (148 × 105 мм)', width: 420, height: 297},
                {name: 'Свой формат', width: 100, height: 100}
            ],
            page_count: 8,
            select_page_color: '4+0',
            page_colors: [
                '4+0',
                '1+0',
                '4+4',
                '1+1'
            ],
            select_printing: 10,
            select_cover_color: '4+0',
            cover_colors: [
                '4+0',
                '1+0',
                '4+4',
                '1+1'
            ],
            select_page_type: 'офсетка 80гр',
            page_types: [
                'офсетка 80гр',
                'офсетка 100гр',
                'офсетка 120гр',
                'офсетка 160гр',
                'офсетка 180гр',
                'офсетка 200гр',
                'меловка 130гр',
                'меловка 150гр',
                'меловка 170гр',
                'меловка 200гр',
                'меловка 250гр',
                'меловка 300гр',
                'картон 270гр',
                'картон 300гр'
            ],
            select_cover_type: 'офсетка 80гр',
            cover_types: [
                'офсетка 80гр',
                'офсетка 100гр',
                'офсетка 120гр',
                'офсетка 160гр',
                'офсетка 180гр',
                'офсетка 200гр',
                'меловка 130гр',
                'меловка 150гр',
                'меловка 170гр',
                'меловка 200гр',
                'меловка 250гр',
                'меловка 300гр',
                'картон 270гр',
                'картон 300гр'
            ],
            select_page_lamination: 'Без ламинации',
            select_cover_lamination: 'Без ламинации',
            laminations: [
                'Без ламинации',
                'Глянец 32 мкр',
                'Глянец 75 мкр',
                'Матовая 32 мкр',
                'Матовая 75 мкр',
                'Ламинация soft tach',
                'Прозрачный пластик'
            ],
            has_cover: true
        },
        computed: {
            isSpring: function () {
                return this.select_type === 'Пружина'
            },
            isBracket: function () {
                return this.select_type === 'Скоба'
            },
            isGlue: function () {
                return this.select_type === 'Клей'
            },
            isCustomSize: function () {
                return this.select_format.name === 'Свой формат'
            }
        }
    });
</script>

</body>
</html>
