<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
</head>
<body>

<style>
    /* class-select-type */
    .class-select-type {
        text-align: center;
    }

    /* img */
    .class-select-type img {
        height: 130px;
        margin: 20px 20px 5px 20px;
    }

    /* a */
    .class-select-type a {
        display: inline-block;
        text-align: center;
        opacity: 50%;
        text-decoration: none;
        color: black;
    }

    /* text */
    .class-select-type p {
        margin: 0 0 20px 0;
        padding: 0;
    }

    /* hover type img */
    .class-select-type a:hover {
        opacity: 90%;
    }

    /* active type img */
    .class-select-type .class_active {
        opacity: 100%;
    }


    /* inputs */
    .my-input {
        width: 100%;
        height: 32px;
    }

    /* labels */
    .my-label {
        margin-top: 10px;
    }


    /* all */
    .all {
        display: inline-block;
        /*border: cadetblue 1px solid;*/
    }

    .all2 {
        margin-top: 20px;
    }


    /* buttons */
    .my-button {
        position: absolute;
        top: 7px;
        right: 0;
    }

    .button-block {
        position: relative;
    }

    span {
        color: gray;
    }

    h2 {
        color: gray;
        font-size: 16pt;
    }

    /*.paint {*/
    /*    text-align: center;*/
    /*}*/
</style>

<div id="app">

    <!--  Крепление  -->
    <div class="container class-select-type">
        <div class="row">
            <div class="col-sm">
                <a v-on:click="select_type='Скоба'" v-bind:class="{ class_active: isBracket }">
                    <img src="img/rect1.png" alt="Скоба">
                    <p>Скоба</p>
                </a>
                <a v-on:click="select_type='Пружина'" v-bind:class="{ class_active: isSpring }">
                    <img src="img/rect2.png" alt="Пружина">
                    <p>Пружина</p>
                </a>
                <a v-on:click="select_type='Клей'" v-bind:class="{ class_active: isGlue }">
                    <img src="img/rect3.png" alt="Клей">
                    <p>Клей</p>
                </a>
            </div>
        </div>
    </div>


    <!--  Форма  -->
    <div class="container">
        <div class="row">

            <!--  Общие  -->
            <div class="col-md-4 all all2">
                <h2>Общие</h2>

                <!--  Цвет пружины  -->
                <div v-show="isSpring">
                    <div><label class="my-label" for="color-id">Цвет пружины</label></div>
                    <select id="color-id" class="my-input" v-model="select_spring_color">
                        <option v-for="color in spring_colors" v-model="select_spring_color">
                            {{ color }}
                        </option>
                    </select>
                </div>

                <!--  тираж  -->
                <div>
                    <div><label class="my-label" for="number-id">Тираж (шт)</label></div>
                    <input id="number-id" class="my-input" type="number" v-model="select_printing">
                </div>

                <!--  Ширина и высота  -->
                <div>
                    <div><label class="my-label" for="width-id">Ширина (мм)</label></div>
                    <input id="width-id" class="my-input" max="420" min="0" type="number"
                           v-model="select_format.width" :disabled="!isCustomSize">
                </div>
                <div>
                    <div><label class="my-label" for="height-id">Высота (мм)</label></div>
                    <input id="height-id" class="my-input" max="420" min="0" type="number"
                           v-model="select_format.height" :disabled="!isCustomSize">
                </div>

                <!--  Формата  -->
                <div>
                    <div><label class="my-label" for="format-id">Формат</label></div>
                    <select id="format-id" class="my-input" v-model="select_format">
                        <option v-for="format_orientation in formats"
                                v-bind:value="format_orientation">
                            {{ format_orientation.name }}
                        </option>
                    </select>
                </div>
            </div>


            <!--  Блок и обложка  -->
            <div class="col-md-4 all">
                <div class="all2">
                    <h2>Блок</h2>

                    <!--  ввод количества страниц  -->
                    <div>
                        <div><label class="my-label" for="count-id">Количество страниц (шт)</label></div>
                        <input id="count-id" class="my-input" type="number" v-model="select_page_count">
                    </div>

                    <!--  Цветность и материал  -->
                    <div>
                        <div><label class="my-label" for="page_type-id">Материал</label></div>
                        <select id="page_type-id" class="my-input" v-model="select_page_material">
                            <option v-for="material in materials" v-bind:value="material">{{ material.name }}</option>
                        </select>

                        <div><label class="my-label" for="page_color-id">Цветность</label></div>
                        <select id="page_color-id" class="my-input" v-model="select_page_color">
                            <option v-for="page_color in page_colors" v-bind:value="page_color">{{ page_color.name }}</option>
                        </select>
                    </div>


                    <!--  Ламинация  -->
                    <div>
                        <div><label class="my-label" for="page_lamination-id">Ламинация</label></div>
                        <select id="page_lamination-id" class="my-input" v-model="select_page_lamination">
                            <option v-for="lamination in laminations">{{ lamination }}</option>
                        </select>
                    </div>

                    <!--  Ламнация  -->
                    <div v-show="hasLaminationsPage">
                        <div><label class="my-label" for="page_laminations_type-id">Тип ламинации</label></div>
                        <select id="page_laminations_type-id" class="my-input" v-model="select_page_laminations_type">
                            <option v-for="laminations_type in laminations_types">{{ laminations_type }}</option>
                        </select>
                    </div>
                </div>

                <div class="all2">
                    <div class="button-block">
                        <button class="my-button btn btn-outline-secondary" v-if="has_cover"
                                v-on:click="has_cover = false">
                            убрать
                        </button>
                        <button class="my-button btn btn-outline-secondary" v-else
                                v-on:click="has_cover = true">
                            добавить
                        </button>
                    </div>
                    <h2>Обложка</h2>

                    <div v-show="has_cover">
                        <!--  Цветность и материал  -->
                        <div>
                            <div><label class="my-label" for="cover_color-id">Цветность</label></div>
                            <select id="cover_color-id" class="my-input" v-model="select_cover_color">
                                <option v-for="cover_color in cover_colors">{{ cover_color }}</option>
                            </select>
                            <div><label class="my-label" for="cover_type-id">Материал</label></div>
                            <select id="cover_type-id" class="my-input" v-model="select_cover_material">
                                <option v-for="material in materials" v-bind:value="material">{{ material.name }}
                                </option>
                            </select>
                        </div>

                        <!--  Ламинация  -->
                        <div>
                            <div><label class="my-label" for="cover_lamination-id">Ламинация</label></div>
                            <select id="cover_lamination-id" class="my-input" v-model="select_cover_lamination">
                                <option v-for="lamination in laminations">{{ lamination }}</option>
                            </select>
                        </div>

                        <!--  Ламнация  -->
                        <div v-show="hasLaminationsCover">
                            <div><label class="my-label" for="cover_laminations_type-id">Тип ламинации</label></div>
                            <select id="cover_laminations_type-id" class="my-input"
                                    v-model="select_cover_laminations_type">
                                <option v-for="laminations_type in laminations_types">{{ laminations_type }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <!--  Стоимость и информация  -->
            <div class="col-md-4 all">

                <div class="all2">
                    <h2>Стоимость</h2>
                    <div><span>Стоимость блока:</span> {{ coins_pages.toFixed(2) }}$</div>
                    <div><span>Стоимость обложки:</span> {{ coins_cover.toFixed(2) }}$</div>
                    <div><span>Тираж:</span> {{ select_printing }}шт</div>
                    <div><span>Итого:</span> {{ coins.toFixed(2) }}$</div>
                </div>

                <div class="all2">
                    <h2>Информация</h2>
                    <span>Общие</span>
                    <div><span>Крепление:</span> {{ select_type }}</div>
                    <div v-show="isSpring"><span>Цвет пружины:</span> {{ select_spring_color }}</div>
                    <div v-show="isCustomSize"><span>Размеры:</span> {{ select_format.width }}мм x
                        {{ select_format.height }}мм
                        ({{ getWidth }} x {{ getHeight }})
                    </div>
                    <div><span>Формат:</span> {{ select_format.name }}</div>

                    <br><span>Блок</span>
                    <div><span>Количество страниц:</span> {{ select_page_count }}шт ({{ count_pages }})</div>
                    <div><span>Материал:</span> {{ select_page_material.name }}</div>
                    <div><span>Цветность:</span> {{ select_page_color }}</div>
                    <div v-show="hasLaminationsPage"><span>Ламинация:</span> {{ select_page_lamination }}
                        ({{ select_page_laminations_type }})
                    </div>

                    <div v-show="has_cover">
                        <br><span>Обложка</span>
                        <div><span>Материал:</span> {{ select_cover_material.name }}</div>
                        <div><span>Цветность:</span> {{ select_cover_color }}</div>
                        <div v-show="hasLaminationsCover"><span>Ламинация:</span> {{ select_cover_lamination }}
                            ({{ select_cover_laminations_type }})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            select_type: 'Пружина', // крепление

            select_spring_color: 'Белая', // цвет пружины
            spring_colors: [
                'Белая',
                'Черная',
                'Серебро'
            ],

            select_format: {name: 'Книга, A4 (210 × 297 мм)', width: 210, height: 297}, // формат
            formats: [
                {name: 'Книга, A6 (105 × 148 мм)', width: 105, height: 148},
                {name: 'Книга, A5 (148 × 210 мм)', width: 148, height: 210},
                {name: 'Книга, A4 (210 × 297 мм)', width: 210, height: 297},
                {name: 'Книга, A3 (297 × 420 мм)', width: 297, height: 420},
                {name: 'Альбом, A6 (148 × 105 мм)', width: 148, height: 105},
                {name: 'Альбом, A5 (210 × 148 мм)', width: 210, height: 148},
                {name: 'Альбом, A4 (297 × 210 мм)', width: 297, height: 210},
                {name: 'Альбом, A3 (420 × 297 мм)', width: 420, height: 297},
                {name: 'Свой формат', width: 100, height: 100}
            ],

            select_page_count: 100, // количество страниц

            select_page_color: {name: '4+4', koef: 2}, // цветность блока
            page_colors: [
                {name: '4+0', koef: 1},
                {name: '1+0', koef: 1},
                {name: '4+4', koef: 2},
                {name: '1+1', koef: 2}
            ],

            select_printing: 30, // тираж

            select_cover_color: '4+4', // цветность обложки
            cover_colors: [
                '4+0',
                '1+0',
                '4+4',
                '1+1'
            ],

            select_page_material: {name: 'меловка 130 гр/м2', price: 950 * 130 / 1000000}, // материал блока
            select_cover_material: {name: 'меловка 300 гр/м2', price: 950 * 300 / 1000000}, // материал обложки
            materials: [
                {name: 'офсетка 80 гр/м2', price: 1000 * 80 / 1000000}, // $/м2
                {name: 'офсетка 100 гр/м2', price: 1000 * 100 / 1000000},
                {name: 'офсетка 120 гр/м2', price: 1000 * 120 / 1000000},
                {name: 'офсетка 160 гр/м2', price: 1000 * 160 / 1000000},
                {name: 'офсетка 180 гр/м2', price: 1000 * 180 / 1000000},
                {name: 'офсетка 200 гр/м2', price: 1000 * 200 / 1000000},
                {name: 'меловка 130 гр/м2', price: 950 * 130 / 1000000},
                {name: 'меловка 150 гр/м2', price: 950 * 150 / 1000000},
                {name: 'меловка 170 гр/м2', price: 950 * 170 / 1000000},
                {name: 'меловка 200 гр/м2', price: 950 * 200 / 1000000},
                {name: 'меловка 250 гр/м2', price: 950 * 250 / 1000000},
                {name: 'меловка 300 гр/м2', price: 950 * 300 / 1000000},
                {name: 'картон 270 гр/м2', price: 950 * 270 / 1000000},
                {name: 'картон 300 гр/м2', price: 1000 * 300 / 1000000}
            ],

            select_page_lamination: 'Без ламинации', // ламинация блока
            select_cover_lamination: 'Матовая 75 мкр', // аминация обложки
            laminations: [
                'Без ламинации',
                'Глянец 32 мкр',
                'Глянец 75 мкр',
                'Матовая 32 мкр',
                'Матовая 75 мкр',
                'Ламинация soft tach',
                'Прозрачный пластик'
            ],

            select_page_laminations_type: '1+0', // ламинация блока
            select_cover_laminations_type: '1+1', // ламинация обложки
            laminations_types: [
                '1+0',
                '1+1'
            ],

            has_cover: true, // наличие обложки

            svg_width: 10
        },
        computed: {
            isSpring: function () {
                return this.select_type === 'Пружина'
            },
            isBracket: function () {
                return this.select_type === 'Скоба'
            },
            isGlue: function () {
                return this.select_type === 'Клей'
            },
            isCustomSize: function () {
                return this.select_format.name === 'Свой формат'
            },
            hasLaminationsCover: function () {
                return this.select_cover_lamination !== 'Без ламинации'
            },
            hasLaminationsPage: function () {
                return this.select_page_lamination !== 'Без ламинации'
            },
            getWidth: function () {
                if (this.isCustomSize) {
                    if (this.select_format.width > 420) {
                        return 420
                    }
                    if (this.select_format.width < 0) {
                        return 0
                    }
                    if (0 < this.select_format.width && this.select_format.width < 105) {
                        return 105
                    }
                    if (105 < this.select_format.width && this.select_format.width < 148) {
                        return 148
                    }
                    if (148 < this.select_format.width && this.select_format.width < 210) {
                        return 210
                    }
                    if (210 < this.select_format.width && this.select_format.width < 297) {
                        return 297
                    }
                    if (297 < this.select_format.width && this.select_format.width < 420) {
                        return 420
                    }
                }
                return this.select_format.width
            },
            getHeight: function () {
                if (this.isCustomSize) {
                    if (this.select_format.height > 420) {
                        return 420
                    }
                    if (this.select_format.height < 0) {
                        return 0
                    }
                    if (0 < this.select_format.height && this.select_format.height < 105) {
                        return 105
                    }
                    if (105 < this.select_format.height && this.select_format.height < 148) {
                        return 148
                    }
                    if (148 < this.select_format.height && this.select_format.height < 210) {
                        return 210
                    }
                    if (210 < this.select_format.height && this.select_format.height < 297) {
                        return 297
                    }
                    if (297 < this.select_format.height && this.select_format.height < 420) {
                        return 420
                    }
                }
                return this.select_format.height
            },
            count_pages: function () {
                if (this.select_page_count % 2 === 0) {
                    return this.select_page_count
                } else {
                    return parseInt(this.select_page_count) + 1
                }
            },
            coins_pages: function () {
                // материал
                sum = this.select_page_material.price *
                    (this.getWidth / 1000) *
                    (this.getHeight / 1000)
                // печать
                // ламинация
                return this.count_pages * sum
            },
            coins_cover: function () {
                // материал
                sum = this.select_page_material.price *
                    (this.getWidth / 1000) *
                    (this.getHeight / 1000)
                // печать
                // ламинация
                return 2 * sum
            },
            coins: function () {
                return this.select_printing * (this.coins_pages + this.coins_cover)
            }
        }
    });
</script>

</body>
</html>
